.bg{
 	background: url(images/bg_zlzq_qh_sm.jpg) 50% 0  no-repeat!important;
 	background-color: #2B619D!important;
}

.icon-zlzw{
	font-weight: normal!important;
}

.icon-zlzw:after{
	width: 0px;
	height: 0px;
}

.icon-1{
	background:  url(images/1.png) 50% 20% no-repeat;
	background-size: 24px 22px; 
}

.icon-2{
	background:  url(images/2.png) 50% 20% no-repeat; 
	background-size: 24px 22px;
}

.icon-3{
	background:  url(images/3.png) 50% 20% no-repeat; 
	background-size: 24px 22px;
}

.icon-4{
	background:  url(images/4.png) 50% 20% no-repeat; 
	background-size: 24px 22px;
}


.container .options-row{
	height: 80px;
	background: rgba(255,255,255,0.5);
	margin: 0.1em;
}

.container .vertical-bar{
	display: inline-block;
	background: rgba(255,255,255,0.5);
	border-radius: 1px;
	width: 2px;
	height: 50px;
	margin: 15px 0px;
}

.container .options-column{
	display: inline-block;
	vertical-align: top;
	height: 100%;
}

.container .options-column3{
	width: 29%;
}

.container .options-column2{
	width: 45%;
}

.container .h100w1{
	display: inline-block;
	height: 100%;
	width: 1px;
	vertical-align: middle;
}

.container .option-name{
	height: 50%;
	width: 100%;
	text-align:center;
	color: rgba(255,255,255,0.9);
	font-family: Microsoft YaHei,SimHei;
}

.container .option-value{
	height: 50%;
	width: 100%;
	text-align: center;
}

.option-value input{
	width: 100%;
	background: transparent;
	border: 0px;
	text-align: center;
	color: #fff;
}

.option-value a{
	font-size: 12px;
}

.option-value .select_a{
	text-decoration: none;
  	color: #FFF;
  	font-weight: normal;
}

.option-value option{
	font-size: 12px;
}

.search{
	background: url(images/searchbig.png) center no-repeat;
	background-color: transparent!important;
  	background-size: 160px 160px;
  	height: 160px;
  	border: 0px;
  	box-shadow:none;
}

.list li{
	font-size: 12px;
}

body,
input,
select,
textarea,
button,
.ui-btn {
	font-family: 'Microsoft YaHei',sans-serif /*{global-font-family}*/;
}

.ui-bar-a {
	background-color: #225693 /*{a-bar-background-color}*/;
	border-color: #225693 /*{a-bar-border}*/;
	color: #fff;
}

.ui-select{
	margin: 0px;
}

.ui-header .ui-title{
	font-family: 'Microsoft YaHei',sans-serif;
	font-weight: normal;
	text-shadow: none!important ;
}

.ui-btn-active{
	background-color: #e46742!important;
	border-color: #e46742!important;
	text-shadow: none!important ;
}

.ui-overlay-a,
.ui-page-theme-a,
.ui-page-theme-a .ui-panel-wrapper {

	text-shadow: none;
}

.ui-body-a,
.ui-page-theme-a .ui-body-inherit,
html .ui-bar-a .ui-body-inherit,
html .ui-body-a .ui-body-inherit,
html body .ui-group-theme-a .ui-body-inherit,
html .ui-panel-page-container-a {

	text-shadow: none;
}

.ui-icon-carat-r:after {
  background-image: url(images/icon_more.png);
  background-size: 2em 2em;
  background-color: transparent!important;
}

.ui-icon-carat-l{
	background: transparent!important;
  	border: 0px!important;
}

.ui-icon-carat-l:after {
  background-image: url(images/icon_back.png)!important;
  background-size: 2em 2em!important;
  background-color: transparent!important;
}
